<template>
  <div class="calendar">
    <calendar-head />
    <Calendar />
  </div>
</template>

<script>
// @ is an alias to /src
import CalendarHead from '@/components/CalendarHead.vue'
import Calendar from '@/components/Calendar.vue'

export default {
  name: 'home',
  components: {
    CalendarHead,
    Calendar
  }
}
</script>

<style lang="scss">
/* flex? */
.calendar {
  width: 1134px;
  display: block;
  margin: auto;
}
</style>
