<template>
  <div class="cal-body">
		<single-weekday :days="days" :blanks="blanks" />
	</div>
</template>

<script>
import SingleWeekday from '@/components/SingleWeekday.vue'

export default {
	name: 'Calendar',
	components: {
    SingleWeekday
	},
	computed: {
    days () {
      return this.$store.state.days
		},
		blanks () {
      return this.$store.state.blanks
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
