<template>
	<div>
		<h3>February</h3>
		<div class="cal-head">
			<div class="weekday">Sunday</div>
			<div class="weekday">Monday</div>
			<div class="weekday">Tuesday</div>
			<div class="weekday">Wednesday</div>
			<div class="weekday">Thursday</div>
			<div class="weekday">Friday</div>
			<div class="weekday">Saturday</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'CalendarHead'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.weekday {
	width: 140px;
	display: inline-block;
	padding: 10px;
	border: 1px solid #42b983;
	text-align: center;
	color: #42b983;
}
</style>
