<template>
  <div>
		<h3>{{ msg }}</h3>
		<p>02/{{ $route.params.date }}/2019</p>
		<form @submit="addevent">
			<input 
				v-model="eventmessage" 
				placeholder="Add Event">
			<input type="submit" value="Submit">
		</form>
		<div v-if="events.length">
			<p>Event</p>
			<div 
				v-for="(event, index) in events"
				:key="index"
				class="event">
				{{ event.event }}
			</div>
		</div>
		<div v-else>
			<p>No Events</p>
		</div>
	</div>
</template>

<script>
import SingleWeekday from '@/components/SingleWeekday.vue'

export default {
	name: 'Day',
	data () {
		return {
			msg: 'Events for',
			eventmessage: ''
		}
	},
	computed: {
    events () {
			var addevents = [];
			for (var i = 0; i < this.$store.state.events.length; i++) {
				if (this.$store.state.events[i].index === this.$route.params.date) {
					addevents.push(this.$store.state.events[i]);
				}
			}
			return addevents;
		}
	},
	methods:{
    addevent: function (index) {
      this.$store.dispatch('addEvent', { index: this.$route.params.date, event: this.eventmessage })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.event {
	border: 1px solid #000;
	width: 200px;
	margin: 10px auto;
	padding: 10px;
}
</style>
