<template>
	<div>
		<div 
			v-for="(blank, index) in blanks"
			:key="index + 40"
			class="weekday"></div>
		<router-link 
			v-for="(day, index) in days"
			:key="index"
			:to="{ name: 'day', params: { date: index + 1 }}"
			class="weekday">
				{{ index + 1 }}
				<div 
					v-for="(event, i) in $store.state.events"
					:key="i + '-event'">
					<span v-if="event.index === index + 1">{{ event.event }}</span>	
				</div>
		</router-link>
	</div>
</template>

<script>
export default {
	name: 'SingleWeekDay',
  props: {
    days: {
			default: null,
			type: Number
		},
		blanks: {
			default: null,
			type: Number
		}
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.weekday {
  width: 140px;
  height: 140px;
  display: inline-block;
  padding: 10px;
  border: 1px solid #000;
  text-align: left;
  color: #000;
  float: left;
	cursor: pointer;
}
</style>
